DB_DATA_NAME=report_data
DB_DATA_SSL_MODE=on

DB_ADMIN_NAME=report_admin
DB_ADMIN_SSL_MODE=on

REPORT_API_BATCH_SIZE=500 # API batch size used for reporting
REPORT_OUT_DIR=$HOME/REPORTS

PRIVX_PORT=443

PRIVX_API_OAUTH_CLIENT_ID="privx-external"
